[Desktop Entry]
Name=Tweaks
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=danctnix-tweaks %u
GenericName=Tweaks
Icon=org.danctnix.Tweaks
Categories=GTK;GNOME;Utility
X-DBUS-ServiceName=org.danctnix.Tweaks
X-Purism-FormFactor=Workstation;Mobile;
